# Employee Database Analysis (Bonus)
----

#### Note
* Import the SQL database into Pandas.
* Create a histogram to visualize the most common salary ranges for employees.
* Create a bar chart of average salary by title.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
import scipy.stats as sts
from sqlalchemy import create_engine